version: '3'

services:
  adhdproxy:
    container_name: adhdproxy
    build:
      context: .
      dockerfile: Dockerfile
    command: python flaskapp.py
    ports:
      - "5002:5002"
    volumes:
      - ".:/app:z"
    environment:
      - PYTHONUNBUFFERED=1
