version: '3'

services:
  adhdproxy:
    container_name: adhdproxy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5002:5002"
    volumes:
      - ".:/app:z"
      - "./certs:/app/certs:z"
    environment:
      - PYTHONUNBUFFERED=1
      - FLASK_ENV=production
