<!DOCTYPE html>
<html>
<body>
<h1>{{video.title}}</h1>
<br>

{% if videofile != None %}
"{{ videofile }}"
<br>
<video width="640" height="240" controls>
  <source src="/files/youtube/{{video.id}}/{{videofile}}">
</video>
{% endif %}

<table width="90%">
    <tr>
        <th>format_id</th>
        <th>audio_ext</th>
        <th>video_ext</th>

        <th>acodec</th>
        <th>vcodec</th>

        <th>format</th>
        <th>watch</th>
        <th>listen</th>
    </tr>
{% for format in video.formats %}
    {% if format.audio_ext != "none" or format.video_ext != "none" %}
    <tr>
        <td>{{format.format_id}}</td>
        <td>{{format.audio_ext}}</td>
        <td>{{format.video_ext}}</td>

        <td>{{format.acodec}}</td>
        <td>{{format.vcodec}}</td>

        <td>{{format.format}}</td>
        <td><a href="/youtube?video={{video.id}}&format={{format.format_id}}&video_only=1">watch</a></td>
        <td><a href="/youtube?video={{video.id}}&format={{format.format_id}}&audio_only=1">listen</a></td>
    </tr>
    {% endif %}
{% endfor %}
</table>

</body>
</html>
